<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!--[if lt IE 7]><script type="text/javascript">$(function(){$('html').attr('class','lt-ie9 lt-ie8 lt-ie7')});</script><![endif]-->
	<!--[if IE 7]><script type="text/javascript">$(function(){$('html').attr('class','lt-ie9 lt-ie8')});</script><![endif]-->
	<!--[if IE 8]><script type="text/javascript">$(function(){$('html').attr('class','lt-ie9')});</script><![endif]-->
</head>

<template name="layout">
	<!--[if lt IE 10]>
		<p class="browser-warning"><strong><i class="icon-exclamation-sign"></i> Warning</strong> - You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to properly view this website.</p>
	<![endif]-->
	<div id="wrap">
    {{> yield region="header"}}
    {{> yield}}
	</div>
	{{> yield region="footer"}}
</template>
